{%extends 'base.html'%}

{%block content%}

<div class="center">
	<h2>Mi lista de tareas</h2>
	{% if tipos_documentos_identidades %}
    <ul class="tipos_documentos_identidades">
        {% for tipos_documentos_identidades in tipos_documentos_identidades %}
            <li>
                {% comment %} <a href="{% url 'task' task.id %}" class="{% if task.completed%}completed{%endif%}">{{ task.title }}</a>  {% endcomment %}
                <a href="#" class="{% if tipo_documento_identidad.completed%}completed{%endif%}">{{ tipo_documento_identidad.title }}</a>  
                <div  class="tipo_documento_identidad-controls">
                    <a href="#"><i class="bi bi-trash"></i> </a>
                    {% comment %} <a href="#"><i class="bi bi-pencil-square"></i></a> {% endcomment %}
                    <a href="{%url 'tipo_documento_identidad-update' tipo_documento.id %}"><i class="bi bi-pencil-square"></i></a>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <p>🎉 Hey!!! que bien no tienes tipo de documentos pendientes</p>
    {% endif %}
	</ul>
</div>
{%endblock content%}